.wrapper{
    background-color: #fff;
}
.first-nav{
    height: 25px;
    background-color: #F8F9F9;
}
.appointment{
    border-radius: 20px;
}
.info{
    background-color: #F1F7FD;
    position: relative;
}
.info-color{
    background-color: #fff;
    height: 100px;
}
.img-circle{
    border-radius: 20px;
}

@media(max-width:575px) {
    .carousel-inner .carousel-item img{
        height: 200px;
    }

}

@media(max-width:575px) {
    .first-nav{
        display: none;
    }

}


